<!DOCTYPE html>
<html>
 <head>
  <meta charset='UTF-8'/>
  <title>My Movies</title>
 </head>
 <body>
  <h1>My Movies</>
   <ul>
    <li><%= @movies.title %></li>
    <li>go</li>
    <li>here</li>
   </ul>
 <a href="/movies/new">Add a new movie</a>
 </body>
</html>
