<!DOCTYPE html>
<html>
 <head>
  <meta charset='UTF-8'/>
  <title>My Movies</title>
 </head>
 <body>
  <% if true %>
  <h1>My Movies</>
  <% end %>
  <% if true %>
  <h1>Yes display</h1>
  <% end %> 
  <ul>
    <li><%= @movies.title %></li>
    <li>go</li>
    <li>here</li>
   </ul>
 <a href="/movies/new">Add a new movie</a>
  </body>
</html>
